@model IEnumerable<Trails>

<h2>Trails</h2>

<div style="display: block">
    <a href="/Trail/">Breck Trails</a>
</div>

<table class="table">
    <tr>
        <th>Trail Number</th>
        <th>Trail Name</th>
        <th>Get To</th>
        <th>Gondola Direction ID</th>
        <th>Parking Direction</th>
        <th>Is Opened</th>
        <th>Peak</th>
    </tr>

    @foreach (var trail in @Model)
    {
        <tr>
            <td><a href=/TrailsRepo/GetAllTrails/@trail.TrailNumber>@trail.TrailNumber</a></td>
            <td>@trail.TrailName</td>
            <td>@trail.TrailName</td>
            <td>@trail.GetTo</td>
            <td>@trail.GondolaDirection</td>
            <td>@trail.ParkingDirection</td>
            <td>@trail.Peak</td>

        </tr>
    }

</table>
